langchain-ollama
ollama
langchain_core
python-dotenv
streamlit
langchain_community
langchain 
langserve
fastapi
uvicorn
sse_starlette
pypdf
chromadb
faiss-cpu
cassio
beautifulsoup4
langchainhub
sentence_transformers
PyPDF2
docx2txt
fastapi[standard]
